<nav class="sidebar sidebar-offcanvas" id="sidebar"  >
  <ul class="nav"  >
    <!-- <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        <!-- </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">David Grey. H</span>
          <span class="text-secondary text-small">Project Manager</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li> -->
    <li class="nav-item"   >
      <a class="nav-link" href="index.html">
        <span class="menu-title">Dashboard</span>
      <!--   <i class="mdi mdi-home menu-icon">  </i> > -->
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Identification & Profiling</span>
        <i class="menu-arrow"></i>
        <!-- <i class="mdi mdi-crosshairs-gps menu-icon"></i> -->
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/forms/kyc_form.html">Individual</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/forms/organization_ip.html">Organization</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#screeing" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Screening</span>
        <i class="menu-arrow"></i>
        <!-- <i class="mdi mdi-crosshairs-gps menu-icon"></i> -->
      </a>
      <div class="collapse" id="screeing">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/forms/screeing_individual.html">Individual</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/forms/screeing_organization.html">Organization/Vessel/etc</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/forms/screeing_vessel.html">Vessel</a></li>
        </ul>
      </div>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="pages/icons/mdi.html">
        <span class="menu-title">Identification & Profiling</span>
        <!-- <i class="mdi mdi-contacts menu-icon"></i> -->
      <!-- </a>
    </li> -->

    <li class="nav-item">
      <a class="nav-link" href="pages/charts/chartjs.html">
        <span class="menu-title">Acceptance & Risk Rating</span>
        <!-- <i class="mdi mdi-chart-bar menu-icon"></i> -->
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/tables/basic-table.html">
        <span class="menu-title">Monitoring, Investigation and
                 <br>  Reporting</span>
        <!-- <i class="mdi mdi-table-large menu-icon"></i> -->
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="pages/tables/basic-table.html">
        <span class="menu-title">Bulk Actions</span>
        <!-- <i class="mdi mdi-table-large menu-icon"></i> -->
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="pages/tables/basic-table.html">
        <span class="menu-title">Tables</span>
        <i class="mdi mdi-table-large menu-icon"></i>
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="pages/tables/basic-table.html">
        <span class="menu-title">Reports</span>
        <!-- <i class="mdi mdi-table-large menu-icon"></i> -->
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/tables/basic-table.html">
        <span class="menu-title">Admin</span>
        <!-- <i class="mdi mdi-table-large menu-icon"></i> -->
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/login/login1.html">
        <span class="menu-title">Log Out</span>
        <!-- <i class="mdi mdi-table-large menu-icon"></i> -->
      </a>
    </li>
  </ul>
</nav>
